{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="" href="/" class="filter-active">All</li>
            {% for i in ct %}
            <li data-filter="" href="{{i.get_url}}">{{i.name}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row portfolio-container" data-aos="fade-up">
        {% for i in pr %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <a href="{{i.get_url}}">
          <img src="{{i.img.url}}" class="img-fluid" alt="">
        </a>
          <div class="portfolio-info">
            <h4>{{i.name}}</h4>
            <!-- <p>App</p> -->
            <a href="{{i.get_url}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}